.sidebar {
    padding: 1.5rem 0.5rem;
    grid-column: span 3;
    border-right: 1px solid white;
    min-height: 90vh;
}

.sidebar_inputs {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5px;
}

.sidebar_inputs input {
    border-radius: 5px;
    border: none;
    padding: 15px 10px;
}

.sidebar_inputs input::placeholder {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.contact_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar .deleteBtn {
  margin: 20px 0;
  background-color: #c92a2a;
  width: 100%;
}